	/*
  	Flaticon icon font: Flaticon
  	Creation date: 14/09/2018 13:09
  	*/

      @font-face {
        font-family: "Flaticon";
        src: url("Fonts/Flaticon.eot");
        src: url("Fonts/iefixflat.eot") format("embedded-opentype"),
             url("Fonts/Flaticon.woff") format("woff"),
             url("Fonts/Flaticon.ttf") format("truetype"),
             url("Fonts/Flaticon.svg") format("svg");
        font-weight: normal;
        font-style: normal;
      }
      
      @media screen and (-webkit-min-device-pixel-ratio:0) {
        @font-face {
          font-family: "Flaticon";
          src: url("Fonts/Flaticon.svg") format("svg");
        }
      }
      
      [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
      [class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
        font-family: Flaticon;
              font-size: 20px;
      font-style: normal;
      margin-left: 20px;
      }
      
      .flaticon-down-arrow:before { content: "\f100"; }
      .flaticon-bunch-of-grapes:before { content: "\f101"; }
      .flaticon-adobe-lightroom:before { content: "\f102"; }
      .flaticon-maps-and-flags:before { content: "\f103"; }
      .flaticon-dropper:before { content: "\f104"; }
      .flaticon-worldwide:before { content: "\f105"; }
      .flaticon-cereal:before { content: "\f106"; }
      .flaticon-adobe-photoshop:before { content: "\f107"; }
      .flaticon-cask:before { content: "\f108"; }
      .flaticon-process-graph:before { content: "\f109"; }
      .flaticon-chef-hat-with-mustache:before { content: "\f10a"; }
      .flaticon-coffee-to-go:before { content: "\f10b"; }
      .flaticon-adobe-flash-player:before { content: "\f10c"; }
      .flaticon-like:before { content: "\f10d"; }
      .flaticon-video-camera:before { content: "\f10e"; }
      .flaticon-video-player:before { content: "\f10f"; }
      .flaticon-internet-grid:before { content: "\f110"; }
      .flaticon-magnifying-glass-search:before { content: "\f111"; }
      .flaticon-telephone-of-old-design:before { content: "\f112"; }
      .flaticon-tick-sign:before { content: "\f113"; }
      .flaticon-close-envelope:before { content: "\f114"; }
      .flaticon-wrong:before { content: "\f115"; }
      .flaticon-zoom-in:before { content: "\f116"; }
      .flaticon-beer-pint:before { content: "\f117"; }
      .flaticon-rotate-option:before { content: "\f118"; }
      .flaticon-check-mark-black-outline:before { content: "\f119"; }
      .flaticon-shopping-basket:before { content: "\f11a"; }
      .flaticon-right-quote-symbol:before { content: "\f11b"; }
      .flaticon-shopping-basket-1:before { content: "\f11c"; }
      .flaticon-instagram-social-network-logo-of-photo-camera:before { content: "\f11d"; }
      .flaticon-chat:before { content: "\f11e"; }
      .flaticon-twitter-social-logotype:before { content: "\f11f"; }
      .flaticon-user:before { content: "\f120"; }
      .flaticon-pinterest-social-logo:before { content: "\f121"; }
      .flaticon-adobe-illustrator:before { content: "\f122"; }
      .flaticon-facebook-logo:before { content: "\f123"; }
      .flaticon-adobe-indesign:before { content: "\f124"; }
      .flaticon-restaurant-menu:before { content: "\f125"; }
      .flaticon-adobe-bridge:before { content: "\f126"; }
      .flaticon-link:before { content: "\f127"; }
      .flaticon-opacity:before { content: "\f128"; }
      .flaticon-pyramid:before { content: "\f129"; }
      .flaticon-sketch:before { content: "\f12a"; }
      .flaticon-photo-camera:before { content: "\f12b"; }
      .flaticon-crop:before { content: "\f12c"; }
      .flaticon-user-1:before { content: "\f12d"; }
      .flaticon-vector:before { content: "\f12e"; }
      .flaticon-psd:before { content: "\f12f"; }
      .flaticon-youtube:before { content: "\f130"; }
      .flaticon-rgb:before { content: "\f131"; }
      .flaticon-twitter:before { content: "\f132"; }
      .flaticon-mouse:before { content: "\f133"; }
      .flaticon-mapping:before { content: "\f134"; }
      .flaticon-artboard:before { content: "\f135"; }
      .flaticon-idea:before { content: "\f136"; }
      .flaticon-quality:before { content: "\f137"; }
      .flaticon-pencil:before { content: "\f138"; }
      .flaticon-bar:before { content: "\f139"; }
      .flaticon-cafe:before { content: "\f13a"; }
      .flaticon-whiskey:before { content: "\f13b"; }
      .flaticon-gift:before { content: "\f13c"; }
      .flaticon-ai:before { content: "\f13d"; }
      .flaticon-png:before { content: "\f13e"; }
      .flaticon-facebook:before { content: "\f13f"; }
      .flaticon-linkedin:before { content: "\f140"; }
      .flaticon-messenger:before { content: "\f141"; }
      .flaticon-adobe-fireworks:before { content: "\f142"; }
      .flaticon-responsive:before { content: "\f143"; }
      .flaticon-printer:before { content: "\f144"; }
      .flaticon-text:before { content: "\f145"; }
      .flaticon-shapes:before { content: "\f146"; }
      .flaticon-swiss-army-knife:before { content: "\f147"; }
      .flaticon-magic-tool:before { content: "\f148"; }
      .flaticon-folder:before { content: "\f149"; }
      .flaticon-rgb-1:before { content: "\f14a"; }
      .flaticon-layer:before { content: "\f14b"; }
      .flaticon-startup:before { content: "\f14c"; }
      .flaticon-pantone:before { content: "\f14d"; }
      .flaticon-vector-1:before { content: "\f14e"; }
      .flaticon-color:before { content: "\f14f"; }
      .flaticon-paint:before { content: "\f150"; }
      .flaticon-ruler:before { content: "\f151"; }
      .flaticon-graphic-tablet:before { content: "\f152"; }
      .flaticon-book:before { content: "\f153"; }
      .flaticon-wireframe:before { content: "\f154"; }
      .flaticon-shutter:before { content: "\f155"; }
      .flaticon-resources:before { content: "\f156"; }
      .flaticon-poster:before { content: "\f157"; }
      .flaticon-focus:before { content: "\f158"; }
      .flaticon-cutter:before { content: "\f159"; }
      .flaticon-reflect:before { content: "\f15a"; }
      .flaticon-paint-brush:before { content: "\f15b"; }
      .flaticon-3d:before { content: "\f15c"; }
      .flaticon-sketching:before { content: "\f15d"; }
      .flaticon-highlighter:before { content: "\f15e"; }
      .flaticon-billboard:before { content: "\f15f"; }
      .flaticon-illustration:before { content: "\f160"; }
      .flaticon-eraser:before { content: "\f161"; }
      .flaticon-zoom-in-1:before { content: "\f162"; }
      .flaticon-cube:before { content: "\f163"; }
      .flaticon-graphic-design:before { content: "\f164"; }
      .flaticon-pencil-case:before { content: "\f165"; }
      .flaticon-psd-1:before { content: "\f166"; }
      .flaticon-spray-paint:before { content: "\f167"; }
      .flaticon-image:before { content: "\f168"; }
      .flaticon-photo-camera-1:before { content: "\f169"; }
      .flaticon-crop-1:before { content: "\f16a"; }
      .flaticon-compass:before { content: "\f16b"; }
      .flaticon-paint-bucket:before { content: "\f16c"; }
      .flaticon-puzzle:before { content: "\f16d"; }
      .flaticon-computer:before { content: "\f16e"; }
      .flaticon-rgb-2:before { content: "\f16f"; }
      .flaticon-cd-burn:before { content: "\f170"; }
      .flaticon-blur:before { content: "\f171"; }
      .flaticon-tick:before { content: "\f172"; }
      .flaticon-info:before { content: "\f173"; }
      .flaticon-alert:before { content: "\f174"; }
      .flaticon-risk:before { content: "\f175"; }
      .flaticon-back:before { content: "\f176"; }
      .flaticon-banner:before { content: "\f177"; }
      .flaticon-search:before { content: "\f178"; }
      .flaticon-star:before { content: "\f179"; }
      .flaticon-star-black-fivepointed-shape:before { content: "\f17a"; }
      .flaticon-spotlight:before { content: "\f17b"; }
      .flaticon-key:before { content: "\f17c"; }
      .flaticon-key-1:before { content: "\f17d"; }
      .flaticon-right-arrow:before { content: "\f17e"; }
      .flaticon-right-arrow-of-indian-style:before { content: "\f17f"; }
      .flaticon-cereal-1:before { content: "\f180"; }
      .flaticon-hashtag:before { content: "\f181"; }
      .flaticon-right-arrow-1:before { content: "\f182"; }
      .flaticon-left-arrow:before { content: "\f183"; }
      .flaticon-next:before { content: "\f184"; }
      .flaticon-back-1:before { content: "\f185"; }
      .flaticon-black:before { content: "\f186"; }
      .flaticon-hipster:before { content: "\f187"; }
      .flaticon-mustaches:before { content: "\f188"; }